// BACKGROUND WITH SPARKLING STARS EFFECT

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .sparkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000000 url(../img/stars-bg.png) repeat top center;
  z-index:-3;
  
}

.sparkling {
  background:transparent url(../img/sparkling.png) repeat top center;
  z-index:-2;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}


/* STYLING */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 1;
    display: flex;
    height: 100vh;
    width: 100vw;
} 

h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    font-size: 14px;
    font-weight: normal;
}

.container {
    margin: auto;
    width: 80vw;
}

.header {
    text-align: center;
    margin: 30px;
}

img {
    border-radius: 10px;
}

.memory-game {
    width: 70vw;
    max-width: 640px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    justify-content: center;
}

.game-card {
    width: 150px;
    height: 150px;
    margin: 5px;
    position: relative;
    box-shadow: 3px 3px 3px #ccc;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border-radius: 10px;
}

.game-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.game-card.flip {
    transform: rotateY(180deg);
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: transparent;
}



